* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Navbar {
  margin: 2em 0 2em 2em;
}
.Navbar > * {
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-family: "Lora", serif;
  font-family: "Shantell Sans", cursive;
  font-weight: 600;
}
.Navbar > *:hover {
  border-bottom: 1px solid black;
}
.form {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.form,
.form > * {
  display: flex;
  flex-direction: column;
}
.form input {
  width: 300px;
  padding: 1.5px 0;
  border-radius: 10px;
  outline: none;
}
button {
  border-radius: 6px;
  outline: none;
  width: 80px;
  padding: 5px 3px;
  margin-top: 6px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.selectedList {
  border: 1px solid #00ff0d;
  padding: 5px 8px;
  border-radius: 6px;
}
.listSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  transition: ease-in-out;
}
.listSection > * {
  padding: 10px 0 0 0;
}
.list:hover {
  color: greenyellow;
}
.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
}
.itemList p:hover {
  color: rgb(121, 190, 18);
}
table {
  padding: 10px 0 20px 0;
}
td {
  padding: 6px 15px 0 15px;
}
.List {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -8rem;
}
.logOutBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  align-items: center;
  background: transparent;
  color: #000;
}
.logOutBtn:hover {
  color: #b91d1d;
  border-color: #b91d1d;
  font-size: 14px;
}
.newTask{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newTask button{
  background-color: transparent;
  color: #000;
  transition: ease-in-out;
}
.newTask button:hover{
  background-color: black;
  color: white;
}
.newTask input{
  border-radius: 5px;
  line-height: 20px;
}
input{
  outline: none;
  align-items: center;
  text-align: center;
}