* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Navbar {
  margin: 2em 0 2em 2em;
}
.Navbar > * {
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-family: "Lora", serif;
  font-family: "Shantell Sans", cursive;
  font-weight: 600;
}
.Navbar > *:hover{
  border-bottom: 1px solid black;
}
.form{
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.form, .form > *{
  display: flex;
  flex-direction: column;
}
.form input{
  width: 300px;
  padding: 1.5px 0;
  border-radius: 10px;
  outline: none;
}
button{
  border-radius: 6px;
  outline: none;
  width: 80px;
  padding: 5px 3px;
  margin-top: 6px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.selectedList{
  border: 1px solid #575454;
  width: 15%;
}
.listSection{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin: 2rem 0 0 4rem;
  transition: ease-in-out;
}
.list:hover{
  color: greenyellow;
}